<div class="container">
  <div class="row">

    <div class="col-12 col-md-4 text-center mb-2">
        <button class="btn btn-primary btn-block btn-lg">
          <i class="fal fa-object-group"></i>
          Diseño de Entidades
        </button>
    </div>

    <div class="col-12 col-md-4 text-center mb-2">
          <button class="btn btn-primary btn-block btn-lg">
            <i class="fal fa-bring-front"></i>
            Elementos
          </button>
    </div>

    <div class="col-12 col-md-4 text-center mb-2">
        <button class="btn btn-primary btn-block btn-lg">
          <i class="fal fa-file-signature"></i>
          Formularios
        </button>
    </div>

  </div>


  <div class="row row-cols-3 gy-3 mt-3">
      <div class="col">
        <div class="card">
          <img src="assets/iconos/entidades.png" class="w-25 mx-auto pt-4" alt="...">
          <div class="card-body">
            <h6 class="card-title text-center">Diseño de Entidades</h6>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
              <img src="assets/iconos/elementos.png" class="w-25 mx-auto pt-4" alt="...">
              <div class="card-body">
                <h6 class="card-title text-center">Elementos</h6>
              </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img class="img-admin" src="assets/iconos/relacionados.png" class="w-25 mx-auto pt-4" alt="...">
          <div class="card-body">
            <h6 class="card-title text-center">Elementos Relacionados</h6>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="assets/iconos/formularios.png" class="w-25 mx-auto pt-4" alt="...">
          <div class="card-body">
            <h6 class="card-title text-center">Formularios</h6>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="assets/iconos/listados.png" class="w-25 mx-auto pt-4" alt="...">
          <div class="card-body">
            <h6 class="card-title text-center">Listados</h6>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img class="img-admin" src="assets/iconos/maquetacion.png" class="w-25 mx-auto pt-4" alt="...">
          <div class="card-body">
            <h6 class="card-title text-center">Maquetación</h6>
          </div>
        </div>
      </div>
  </div>


</div>
