<div class="container flex mt-3">
  <div *ngIf="usuario then logout else login">
  </div>
  <ng-template #logout>
      <div class="d-flex flex-row align-items-center">
          <div class="col-md-8">
              <img src="assets/logo.png" width="200">
          </div>
          <div class="col-md-4 d-flex flex-row align-items-center justify-content-end">
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: transparent;">
              <div class="container-fluid">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                  <div class="navbar-nav">
                    <a class="nav-link active text-info" href="#"><i class="fal fa-home-alt fa-1x"></i></a>
                    <a class="nav-link text-info" href="#"><i class="fal fa-user-circle fa-1x"></i></a>
                    <a class="nav-link text-info" href="#"><i class="fal fa-bell fa-1x"></i></a>
                    <a class="nav-link text-info" href="#"><i class="fal fa-question-circle fa-1x"></i></a>

                  </div>
                </div>
              </div>
            </nav>
            <button (click)="usuario = null" class="btn btn-outline-danger px-4 ml-4">Salir</button>
          </div>
      </div>
      <hr>
      <div class="d-flex flex-column flex-md-row mt-4">

        <div class="col-12 col-md-3">
          <app-acordeon (newItemEvent)="cargarAdmin($event)"></app-acordeon>
        </div>

        <div class="col-12 col-md-9">
          <app-admin *ngIf="admin"></app-admin>
        </div>



      </div>
  </ng-template>
  <ng-template #login>
      <div class="d-flex flex-row align-items-center">
          <div class="col-md-8">
              <h1>Iniciar Sesión</h1>
          </div>
          <div class="col-md-4">
              <button (click)="usuario = 'Manuel'" class="btn btn-outline-primary">
                Ingresar
              </button>
          </div>
      </div>
  </ng-template>
</div>
